<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActionExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>AddressBookPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>AppleScriptApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Application.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AutomatorAction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Bundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>CocoaFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CocoaTouchFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>CocoaTouchStaticLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>DocumentProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>DocumentProviderFileProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>IOKitDriver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>ImageUnitPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>InAppPurchaseContent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>InstallerPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>KernelExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>MessagesExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>MetalLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>PreferencePane.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>ProjectTwo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>QuartzPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>QuickLookPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>ScreenSaver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>SpotlightImport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>StickerPackExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>TargetB.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TvApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>TvFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>TvServiceExttension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>TvTouchStaticLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>WatchFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>WatchStaticLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>XPCService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>iOSApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>watchOS App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>381E26571E516DBC00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E26651E516DBC00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E26701E516DBC00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E26841E516E6300557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E269A1E516E6300557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E26A51E516E6300557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E26B91E516E9C00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E26D11E516EB200557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E26D91E516EB200557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E26F31E516EBF00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E26F91E518F1600557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E27041E518F1F00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E27181E518F6F00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E27221E518FBA00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E27381E518FCA00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E27451E518FD200557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E27591E518FDA00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E27661E518FEC00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E277A1E518FF700557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E27881E51900600557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E27961E51900E00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E27BF1E5191F400557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E27E71E51922800557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E27F81E51928100557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E28061E51928E00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E281F1E51935E00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E283F1E5193BD00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E284E1E5193BD00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E28691E5193BD00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E28771E5193BD00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E28A31E5193D900557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E28AD1E5193F100557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E28BD1E5193F100557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E28C81E5193F100557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E28DC1E51940700557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E28EF1E51942200557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E28F71E51942300557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E29111E51944000557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E291F1E51945800557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E29301E51946400557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E293D1E51948900557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E294B1E51948A00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E29631E5194A100557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E29761E5194A100557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E29811E5194A100557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E29961E5194AE00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E29AF1E5194B700557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E29CA1E5194C700557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E29D21E5194C800557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381E29EC1E5194FC00557BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3836A7821E3EDB400098CE9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3846E4B71E3F936400CBD01C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3846E4C31E3F93B900CBD01C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
